@import url('https://fonts.googleapis.com/css2?family=Dongle&family=East+Sea+Dokdo&family=Jua&family=Nanum+Pen+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 100%;
    height: 100px;
}
.logo .logo-templet {
    width:100%;
    height:100%;
    background-color:#59db82d0;
}
h1{
    font-family: "Jua", sans-serif; 
    font-size: 35px;
    width: 116px;
}
#delete{
    width: 10%;
}
textarea{
    background-color: white;
}
p{
    background-color: rgba(150, 255, 102, 0.852);
    font-family: "jua",sans-serif;
    text-align: center;
    font-size: 40px;
}
.input_templet{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* background-color: #f4fff8; */

    margin-bottom: 30px;
    flex-flow: wrap;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap-reverse;  */
    /* 컨테이너 박스가 넘얼갈떄 밑으로 넣는 법 */

    justify-content: flex-start;
    /* align-items: stretch; */
    align-content: stretch;
    gap: 20px;

}
.input{
    background-color: white;
}
.box label {
    word-wrap: break-word;
}
button{
    background-color:rgb(255, 255, 255);
    border: 0;
}
textarea{
    width: 80%;
}
.box {
    padding: 5px;
    margin: 5px;
    width: 30%;
    background-color:rgb(255, 255, 255);
    border-radius: 4px;
}

/* 버튼 안의 이미지 크기 제한 */
.delete-btn img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}/*object-fit: contain;은 사진 전체가 보이도록 줄여서 버튼 사이즈에 맞게*/

